<div class="container">
  <h1 class="my-5 text-center">Your potlucks</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3">
      <div class="card w-100 h-100">
        <div class="card-body d-flex align-items-center justify-content-center">
          <%= link_to "#", class: 'text-decoration-none fs-5', data: { 'bs-toggle': "modal", 'bs-target': "#addPotluck"} do %>
            <span><i class="fas fa-plus"></i> Plan a new potluck</span>
          <% end %>
        </div>
      </div>
    </div>
    <% @potlucks.each do |potluck| %>
      <div class="col-12 col-md-6 col-xl-3">
        <%= render 'potluck_card', potluck: potluck %>
      </div>
    <% end %>
  </div>
</div>


<%= render 'add_potluck_modal' %>