<div class="container">
  <h1 class="my-5 text-center">Your potlucks</h1>
  <div class="row">
    <% @potlucks.each do |potluck| %>
      <div class="col-12 col-md-4 col-xl-3">
        <%= render 'potluck_card', potluck: potluck %>
      </div>
    <% end %>
  </div>
</div>