<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
  <div>
    <h1 class='text-center' >Yann's Potluck</h1>
    <%= link_to "Organize your potluck", potlucks_path, class: 'btn btn-primary' %>
  </div>
</div>