<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class='text-center'>
    <h1>Yann's Potluck</h1>
    <%= link_to "Organize your potluck", potlucks_path, class: 'btn btn-primary' %>
  </div>
</div>